<!DOCTYPE html>
<html>
  <head>
    <title>Togo</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= render 'layouts/nav' %>
    </header>
    <main role="main">
      <div class="container">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
